* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --lightBlue: #bfe9fb99;
  --darkBlue: #3e627a;
  --darkGrey: #424242;
  --red: #9c4032;
  --yellow: #f5d67a;
  --fontText: "Open Sans", sans-serif;
  --fontTitle: "Inconsolata";
  --fontNoto: "Noto Sans";
}
.secondary-title {
  text-align: center;
  color: var(--darkBlue);
  margin: 50px;
  font-size: 24px;
  padding: 0 20px;
  
}

.primary-btn {
  background-color: #f5d67a;
  color: #3e627a;
  border: 1px solid #3e627a;
  font-size: 16px;
  padding: 12px;
  font-family: var(--fontNoto);
}
.secondary-btn {
  background-color: none;
  text-decoration: none;
  font-family: var(--fontNoto);
}

.tertiary-btn {
  text-decoration: underline;
  border: none;
  color: var(--darkBlue);
  font-size: 16px;
  font-weight: bold;
  box-shadow: none;
  background-color: transparent;
  font-family: var(--fontNoto);
}

.important-word{
  font-size: 28px;
   color: var(--red);
  font-weight: bold;
}