main {
  width: 100vw;
}
/****************************Home page*****************************************************/

#presentation {
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #bfe9fb99;
  padding: 50px 20px 20px 0;
  text-align: center;
  height: 700px;
}

h1 {
  font-family: var(--fontTitle);
  text-transform: uppercase;
  font-size: 36px;
  color: var(--darkBlue);
  margin-bottom: 30px;
  line-height: 1.4;

}

#presentation img {
  display: none;
}

#presentation p {
  font-size: 20px;
  font-family: var(--fontNoto);
  color: var(--darkGrey);
  overflow: hidden;
  margin-left: 17px;
  padding: 35px 15px;
  line-height: 1.8;
}

#presentation a {
  display: block;
}

h1 span {
  color: var(--red);
  font-size: 36px;
  font-weight: bold;
}

#homePage {
  width: 100%;
  margin: 50px auto;
}

#homePage h2 {
  color: #3e627a;
  font-size: 34px;
  padding-left: 50px;
  font-family: var(--fontTitle);
}

#homePage article {
  border-radius: 50px 30px 50px 30px;
  background-color: #bfe9fb;
  border: 1px solid #3e627a;
  opacity: 0.95;
  padding: 20px 30px;
  margin: 80px 50px;
  transition: 2s ease;
  box-shadow: 1px 2px 15px #9999;
}

#homePage article:nth-child(even) {
  margin: 80px 35px 80px 80px;
}

#homePage article:hover {
  transform: scale(1.1);
  transition: transform 1s linear;
}

#homePage p {
  color: #424242;
  font-size: 14px;
  font-family: var(--fontText);
  line-height: 1.6;
}

#homePage span {
  display: block;
  color: #404040;
  font-size: 0.9rem;
  padding-bottom: 5px;
}

#homePage button:hover,
#post button:hover {
  transform: scale(1.2);
  transition: transform 0.6s linear;
}

#homePage h3,
#post h3 {
  text-align: left;
  text-transform: capitalize;
  font-family: var(--fontTitle);
  color: #9c4032;
  font-size: 24px;
  padding-bottom: 15px;
}

/******************************************bio page **********************************************/
#bio {
  width: 90%;
  margin: 80px auto;
}

#bio video {
  width: 90%;
  margin: 40px auto;
  display: block;
  border-radius: 20px;
  box-shadow: 5px 5px 8px var(--lightBlue);
}

#bio article {
  padding: 20px;
}

#bio h2 {
  text-align: center;
  color: var(--darkBlue);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: var(--fontTitle);
}

#bio p {
  line-height: 1.8;
  padding: 0 20px;
  font-size: 18px;
  white-space: pre-wrap;
  font-family: var(--fontText);
}

#bio span {
  color: var(--red);
  font-weight: bolder;
}

/***************************************contact page**************************************************/

.editMessage legend {
  margin: 0 auto;
  padding: 15px 5px;
  font-size: 20px;
  text-align: center;
  font-family: var(--fontNoto);
}
.editMessage p {
  text-align: center;
  font-family: var(--fontText);
  font-size: 16px;
}
.editMessage .important {
  color: var(--red);
  display: inline;
  font-size: 20px;
  font-weight: bolder;

}

.editMessage fieldset {
  border: 1px solid var(--darkGrey);
  background-color: var(--lightBlue);
  border-radius: 8px;
  margin-top: 30px;
  padding: 10px 40px;
  width: 100%;
}

.editMessage input[type="text"],
.editMessage input[type="email"] {
  width: 100%;
  padding: 10px;
  background-color: white;
  outline: none;
  border: 1px solid var(--darkBlue);
  border-radius: 8px;
  outline: none;
}

.editMessage textarea {
  width: 100%;
  border-radius: 8px;
  height: 150px;
  text-align: left;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--darkBlue);
  padding: 10px;
  margin-top: 8px;
}

.editMessage label,
.editMessage legend {
  display: block;
  text-transform: capitalize;
  color: var(--darkBlue);
  font-weight: bold;
  padding: 0 0 15px;
}

.editMessage span {
  color: var(--red);
  display: block;
  padding: 15px 5px;
  font-size: 16px;
  font-weight: bold;
}

/**********************************Forms ********************************************************/
.forms-style,
.editMessage,
.write {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  width: 80%;
  margin: 80px auto;
  padding: 20px;
  font-size: 1.5rem;
}

.forms-style h3 {
  text-align: center;
  color: var(--darkBlue);
}

.forms-style form,
.editMessage form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 10px auto;
  justify-content: space-around;
  
}


.forms-style form input,
.editMessage form input {
  border: 1px solid var(--darkBlue);
  text-align: left !important;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.forms-style input[type="submit"],
.editMessage input[type="submit"] {
  width: 100px;
  margin: 0 auto 30px;
  display: block;
  text-align: center;
}

.forms-style input[type="submit"]{
  margin-top: 30px;
}

.forms-style legend {
  font-size: 18px;
  margin: 30px auto;
}

.forms-style form label,
.write form label {
  color: var(--darkGrey);
  font-weight: bold;
  font-size: 14px;
  
}

.forms-style form label{
padding: 20px 0;
}

.forms-style a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}

#formLogin p,
#formSignIn p {
  max-width: 100%;
  margin: 20px auto !important;
  text-align: center;
  font-family: var(--fontNoto);
  font-size: 18px;
}

.forms-style button,
.write button,
#favoriteArticle button {
  margin: 30px auto;
  display: block;
  padding: 10px 40px;
  font-size: 1.5rem;
  text-align: center;
}
/*********************************Post page****************************************/
#post {
  max-width: 85%;
  margin: 50px auto 20px;
  padding: 50px 10px 0px;
  /* prevent select*/
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

#post img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

#X-share {
  padding: 10px;
}

#post span {
  color: var(--darkBlue);
  font-size: 16px;
  font-family: var(--fontNoto);
  margin-bottom: 30px;
}

#article p:first-child,
#article p:last-child {
  font-weight: bold;
}

#post h2{
  font-family: var(--fontTitle);
  font-size: 30px;
  text-align: center;
  color: var(--red);
  text-transform: capitalize;
  margin: 30px 0 80px;
}

#post p {
  line-height: 2;
  font-size: 18px;
  font-family: var(--fontText);
  margin: 20px 0;
}

#article h3 {
  font-family: var(--fontNoto);
  font-weight: bold;
}

#commentSection {
  display: none;
}

#comments p {
  line-height: 2.2;
  white-space: pre-wrap;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#comments {
  max-width: 80%;
  margin: 30px auto 150px;
}

#comments h2 {
  color: var(--red);
  display: inline-block;
  font-size: 28px;
  font-family: var(--fontTitle);
  margin-bottom: 50px;
}

#comments a {
  display: block;
  text-align: left;
}

#comments textarea {
  display: block;
  width: 95%;
  margin: 10px auto 5px;
  border: 1px solid var(--darkBlue);
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  height: 80px;
}

#errorComment{
  text-align: left;
  padding-left:17px ;
}

#comments input[type="submit"] {
  float: right;
  width: 100px;
}

#comments form {
  margin-bottom: 140px;
}

#comments article {
  padding: 5px;
  position: relative;
  display: block;
  width: 95%;
  margin: 40px auto 50px;
  border: 1px solid var(--darkBlue);
  border-radius: 8px;
  background-color: var(--lightBlue);
}

#comments h3 {
  color: var(--darkBlue);
  font-size: 1.5rem;
  font-family: var(--fontText);
  text-transform: capitalize;
  position: absolute;
  top: -40px;
  left: 0;
}

#comments h3 span {
  margin-left: 10px;
  color: rgb(105, 103, 103);
  font-size: 1.2rem;
}
#comments h4 {
  text-transform: capitalize;
  color: var(--darkBlue);
  font-weight: bold;
  font-size: 16px;
}

.messageInfo {
  display: block;
  padding: 10px 0 5px;
  color: var(--darkGrey);
  font-weight: bold;
  font-size: 12px;
}

#comments article .fas {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--red);
  font-size: 16px;
}

#comments p {
  padding-left: 10px;
  font-size: 1.6rem;
  color: var(--darkGrey);
}

#commentForm {
  display: none;
  max-width: 100%;
}

#shareArticle {
  display: block;
  margin: 25px 0;
  color: var(--darkBlue);
}

/************************************favorite page***************************************************/
.favoriteArticle {
  margin-top: 100px;
}

.favoriteArticle thead {
  display: none;
}

.favoriteArticle td {
  border: 1px solid var(--darkBlue);
  border-collapse: separate;
  border-spacing: 10px;
  text-align: left;
  padding: 20px 35px 20px 20px;
  border-radius: 8px;
  width: 100%;
  display: block;
  box-shadow: 1px 1px 5px var(--lightBlue);
  background-color: var(--lightBlue);
  margin: 10px auto;
  position: relative;
}

.favoriteArticle table {
  width: 85%;
  margin: 20px auto;
  font-family: var(--fontNoto);
  font-size: 18px;
}

.favoriteArticle table a {
  color: var(--darkGrey);
  font-size: 18px;
  font-weight: bolder;
  text-transform: capitalize;
  text-decoration: none;
}
.favoriteArticle a:hover {
  color: var(--red);
}

.favoriteArticle table .fas {
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  
}

.favoriteArticle button {
  display: block;
  margin: 20px auto;
}

.favoriteArticle p {
  text-align: center;
  color: var(--red);
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 20px;
}

.favoriteArticle h3 {
  text-align: center;
  color: var(--darkBlue);
  font-size: 24px;
  margin: 40px 0;
  padding: 0 20px;
}
/***********************************editing pages***********************************************/
.error {
  margin-top: 100px;
}

.error img {
  width: 180px;
  margin: 0 auto;
  display: block;
  transform: rotate(-25deg);
}

.error::after {
  content: "";
  clear: both;
  display: block;
}

.error h3 {
  padding: 10px;
  margin-bottom: 35px;
  font-size: 24px;
  text-align: center;
  color: #3e627a;
}

.error button {
  margin: 10px auto 20px;
  display: block;
}

.error a {
  text-decoration: none;
}

#errorForm,
.errorRegister {
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: var(--red);
  font-size: 14px;
  padding: 2px 0;
}

.errorRegister input {
  border: 2px solid var(--red);
}

/*********************************profile*****************************************/
.profile {
  margin: 150px auto 80px;
  width: 90%;
  text-align: center;
}
.profile i {
  margin-left: 20px;
  color: var(--darkBlue);
}

.profile h3 {
  font-size: 24px;
  color: var(--darkBlue);
}

/*************************************************media screen ************************************************************************/

@media screen and (max-width: 360px){
  #presentation{
    height: 800px; 
  }
}

@media screen and (min-width: 767px) {
  #presentation {
    padding: 100px 50px 10px;
    text-align: left;
    height: auto;
  }

  #presentation h1 {
    width: 52%;
    padding-left: 15px;
  }

  #presentation p {
    width: 45%;
    font-size: 1.5rem;
    margin-top: 40px;
    -webkit-margin-top: 50px;
  }

  #presentation a {
    display: inline-block;
  }

  #presentation {
    padding: 100px 40px 10px;
    text-align: left;
  }

  #presentation img {
    display: block;
    width: 42%;
    position: absolute;
    right: 50px;
    margin-top: -110px;
    box-shadow: 1px 2px 5px #0aaff5;
    height: 300px;
  }

  #presentation p {
    width: 45%;
    padding: 0;
  }

  #presentation a {
    display: inline-block;
    padding: 10px;
  }
  #show {
    font-size: 1.75rem;
  }

  #homePage {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 90%;

  }
  #homePage h2 {
    flex-basis: 100%;
    padding-left: 15px;
  }
  #homePage article {
    flex-basis: 43%;
    margin: 50px 20px !important;
    padding: 25px 40px;
  }

  #post,
  #comments {
    width: 70%;
  }
  #post p {
    font-size: 18px;
  }
  #comments h2 {
    text-indent: 20px;
  }

  #comments article .fas {
    right: 10px;
  }

  .editMessage,
  .forms-style {
    width: 40%;
  }

  .write {
    width: 50%;
  }
  #panel {
    width: 50%;
  }

  .favoriteArticle {
    margin-top: 150px;
  }

  .favoriteArticle table {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  #presentation {
    padding: 90px 60px 0;
  }

  #presentation img {
    width: 40%;
    right: 90px;
    height: 350px;
  }

  #presentation h1 {
    font-size: 45px;
    width: 45%;
  }

  #presentation p {
    font-size: 24px;
  }
 #homePage{
   justify-content: center;
 }

  #homePage article {
    flex-basis: 28%;
    margin: 50px 20px !important;
  }

  #homePage h2{
    font-size: 38px;
  }

  #comments {
    max-width: 50%;
  }

  #post {
    width: 50%;
  }

  #post span {
    font-size: 1.6rem;
  }

  .editMessage,
  .forms-style {
    width: 30%;
  }

  .write {
    width: 30%;
  }

  .error img {
    width: 300px;
  }

  #bio {
    width: 60%;
  }

  #bio video {
    width: 95%;
  }
  .favoriteArticle table {
    width: 40%;
  }
 
}

@media screen and (min-width: 2000px) {
  #presentation img {
    height: 300px;
  }
}
