* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@font-face {
  src: url("https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Pacifico|Knewave");
  font-family: "Knewave", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Pacifico", cursive;
  font-weight: normal;
}

:root {
  --lightBlue: #bfe9fb99;
  --darkBlue: #3e627a;
  --darkGrey: #424242;
  --red: #9c4032;
  --yellow: #f5d67a;
  --fontText: "Open Sans", sans-serif;
  --fontTitle: "Knewave", cursive;
}
/*******************************************headerStyle*********************************/
.logout{
  font-size: 18px;
  color: var(--darkBlue);
  position: fixed;
  right: 0;
  top: 0; 
  font-weight: bold;
  box-shadow: 1px 2px 5px var(--darkBlue);
  padding: 10px;
  background-color: var(--lightBlue);

}
.header{
  margin: 50px auto 0;
  width: 90%;
  text-align: center;
}


header {
  width: 100%;
  margin-bottom: 50px;
}
.secondary-title{
  text-align: center;
  color: var(--darkBlue);
  margin: 50px;
  font-size: 24px;
  padding: 0 20px;
}
.secondary-btn {
  background-color: none;
}

.tertiary-btn{
	text-decoration: underline;
	border: none;
	color: var(--darkBlue);
	font-size: 12px;
	font-weight: bold;
	box-shadow: none;
	background-color: transparent;
}

#appear {
  cursor: pointer;
  color: #3e627a;
}

#presentation {
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #bfe9fb99;
  padding: 50px 20px 20px 20px;
  text-align: center;
  margin-top: -10px;
}

h1 {
  font-family: "Knewave", cursive;
  text-transform: uppercase;
  font-size: 36px;
  color: #3e627a;
  margin-bottom: 30px;
  /* position: absolute;
	top:50px;
	left: -200px;
	z-index: 1;
	transition: 1s ease-in-out; */
}
#presentation img {
  display: none;
}

#presentation p {
  font-size: 1.5rem;
  font-family: cursive;
  color: #424242;
  overflow: hidden;
  /* margin-left: -2000px;
	margin-top: 120px;
	transition: margin-left 3s ease;
	-webkit-margin-top:60px;
	-webkit-transition:  margin-left 2s ease;	
	padding:10px; */
}

#presentation a {
  display: block;
}

#presentation span {
  color: #9c4032;
  font-size: 1.8rem;
  font-weight: bold;
}

.primary-btn {
  background-color: #f5d67a;
  color: #3e627a;
  border: 1px solid #3e627a;
  font-size: 16px;
  padding: 12px;
}

nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px #6fb7d7;
  max-width: 100%;
  padding: 1px 7px;
  z-index: 7;
  font-family: "Inconsolata", monospace;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

nav a {
  text-decoration: none;
  color: #3e627a; /*#4ba5cd;*/
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

nav .far {
  padding-right: 5px;
  display: inline-block;
}

#logo {
  width: 80px;
  opacity: 0.9;
  position: absolute;
  top: -25px;
  left: 33%;
  right: 33%;
  -webkit-left: 33%;
}

#navbar {
  list-style-position: inside;
  padding-left: 0;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: #4ba5cd;
}

/* #navbar li:nth-last-child(1) a:hover {
  font-weight: bolder !important;
  cursor: pointer;
} */

nav #welcomeSession {
  position: absolute;
  right: 20px;
  font-weight: bold;
  font-family: "Knewave", cursive;
  color: #3e627a;
  font-size: 1, 7rem;
  text-transform: capitalize;
}

#sous-menu {
  position: fixed;
  right: 0;
  background-color: #f5d67a;
  opacity: 0.95;
  top: 0;
  left: 0;
  display: none;
  list-style-position: inside;
  list-style-type: none;
  padding: 50px;
  line-height: 1.5;
  z-index: 9;
  height: 100%;
  width: 100%;
  text-align: center;
}

#sous-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2.5rem;
  margin-left: 50px;
}

#sous-menu li {
  padding: 20px;
  font-size: 1.6rem;
  text-transform: capitalize;
}

#sous-menu a:hover {
  color: var(--darkBlue);
  text-decoration: underline;
  
}

/*****************************************mainStyle***********************************/
main {
  width: 100vw;
}

#panel{
  display: flex;
  width:80%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  margin: 40px auto;
 
}

#panel a{
  text-decoration: none;
  color: var(--darkGrey);
}

#panel div{
  border:1px solid var(--darkBlue);
  border-radius: 8px 16px;
  width:43%;
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--lightBlue);
  box-shadow: 1px 2px 15px #9999;
  text-align: center;
  color:var(--darkGrey);
  font-size: 14px;
  font-weight: bold;
  
}

#panel div:nth-child(2){
  width:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  color:var(--darkGrey);
  font-weight: bold;
  font-size:14px;
  font-family: var(--fontText);

}

#panel div:nth-child(odd){
  background-color: var(--yellow);
}

#panel h2{
  flex-basis: 100%;
  text-align: center;
  color: var(--darkBlue);
  margin-bottom: 30px;
  font-size: 24px;

}

#stats p {
   width:80%;
   margin:0 auto;
    padding:10px;
    text-align: left; 
    font-size: 16px ;
}


 .number{
    color:var(--red);
    background-color: var(--yellow);
    padding: 5px;
    margin-right: 8px;
    border-radius: 4px;
   
}

input {
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  text-align: center !important;
  background-color: var(--lightBlue);
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 210px;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid #6fb7d7;
  outline: none;
}

 input[type="submit"],button {
  /* background-color: #F5D67A; */
  color: #3e627a;
  border: 1px solid #3e627a;
  font-size: 16px;
  padding: 12px;
  border-radius: 30px 50px 30px 50px;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 1px 20px #9999;
  margin: 20px 5px;
  cursor: pointer;
  text-transform: capitalize;
}

#homePage {
  width: 100%;
  margin: 50px auto;
}

#homePage h2 {
  color: #3e627a;
  font-size: 28px;
  padding-left: 50px;
}

#homePage article {
  border-radius: 50px 30px 50px 30px;
  background-color: #bfe9fb;
  border: 1px solid #3e627a;
  opacity: 0.95;
  padding: 10px 20px;
  margin: 80px 50px;
  word-break: break-all;
  transition: 2s ease;
  box-shadow: 1px 2px 15px #9999;
}

#homePage article:nth-child(even) {
  margin: 80px 35px 80px 80px;
}

#homePage article:hover {
  transform: scale(1.1);
  transition: transform 1s linear;
}

#homePage p {
  color: #424242;
  text-indent: 10px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

#homePage span {
  display: block;
  color: #404040;
  text-indent: 20px;
  font-size: 12px;
  padding-bottom: 10px;
}

#homePage button:hover,
#post button:hover {
  transform: scale(1.2);
  transition: transform 0.6s linear;
}

#homePage h3,
#post h3 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Pacifico", cursive;
  color: #9c4032;
  font-size: 24px;
  padding-bottom: 15px;
}

#post {
  max-width: 85%;
  margin: 50px auto 20px;
  padding: 50px 10px 0px;
  /* prevent select*/
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

#post img {
  width: 100%;
  margin: 20px 0;
}

#post span {
  color:var(--darkBlue);
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Knewave", cursive;
  margin-bottom: 30px;
}

#article p:first-child,
#article p:last-child {
  font-weight: bold;
}

#post p {
  text-indent: 10px;
  line-height: 1.8;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0;
}


#article h3 {
  font-family: "Pacifico", cursive;
  font-weight: bold;
}

#comments p {
  line-height: 2.2;
  white-space: pre-wrap;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

/* #post button {
  font-size: 1.8rem;
  margin: 0 10px;
} */

#comments {
  max-width: 80%;
  margin: 30px auto 150px;
}

#comments h2 {
  color:var(--red);
  display: inline-block;
  font-size: 24px;
  font-family: var(--fontTitle)
}

#comments a{
  display: block;
  text-align: left;

}


#comments textarea{
  display: block;
  width: 95%;
  margin: 20px auto 5px ;
  border: 1px solid var(--darkBlue);
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
}

#comments input[type="submit"]{
  float: right;
}

#comments form {
  margin-bottom: 140px ;
}

#comments article {
  padding :5px;
  position: relative;
  display: block;
  width: 95%;
  margin: 40px auto 50px ;
  border: 1px solid var(--darkBlue);
  border-radius: 8px;
}

/* #comments div {
  border-top: 2px solid #f2cc59;
  margin: 20px auto;
  max-width: 70%;
} */

#comments h3 {
  color: var(--darkBlue);
  font-size: 1.5rem;
  font-family: var(--fontText);
  text-transform: capitalize;
  position: absolute;
  top: -40px;
  left:0;
}

/* #comments span {
  color: var(--darkBlue);
  font-size: 1.4rem;
  font-family: "Inconsolata", monospace;
} */

#comments h3 span  {
  margin-left: 10px;
  color: rgb(105, 103, 103);
  font-size: 1.2rem;
}
#comments h4{
  text-transform: capitalize;
  color: var(--darkBlue);
  font-weight: bold;
  font-size: 16px;
}

#comments article {
  padding: 10px;
}

.messageInfo {
  display: block ;
  padding:10px 0 5px;
  color: var(--darkGrey);
  font-weight: bold;
  font-size: 12px;
}

#comments article .fas {
  position: absolute;
  top: 5px;
  right:10px;
  color:var(--red);
  font-size: 16px;
}

#comments p {
  padding-left: 10px;
  font-size: 1.6rem;
  color:var(--darkGrey);
}

.editMessage {
  max-width: 75%;
  margin: 100px auto;
  font-family: var(--fontText);
  font-size: 1.5rem;
  text-align: center;
}

.editMessage legend {
  margin: 0 auto;
  padding: 15px 5px;
  font-size: 1.6rem;
}
.editMessage .important {
	color: var(--red);
	display: inline;
	font-size: large;
	font-weight: bolder;
}

.editMessage fieldset {
 
  border: none;
  background-color: var(--lightBlue);
  border-radius: 8px;
  margin-top: 30px;
  
} 

.editMessage input[type="text"],
.editMessage input[type="email"] {
  width: 80%;
  padding: 7px;
}

.editMessage textarea {
  width: 80%;
  border-radius: 20px;
  height: 150px;
  text-align: left;
  font-size: 1.4rem;
  outline: none;
  padding: 10px;
  border: 1px solid var(--darkBlue);
  margin-top: 8px;
}

.editMessage label,
.editMessage legend {
  display: block;
  text-transform: capitalize;
  color: var(--darkBlue);
  font-weight: bold;
  /* padding: 10px; */
  text-align: center;
}

/* .editMessage input[type="submit"],
#signUP input[type="submit"] {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #6fb7d7;
  background-color: #f2cc59;
  font-weight: bold;
  box-shadow: 1px 5px 20px #9999;
  font-family: "Knewave", cursive;
} */

.editMessage span {
  color: var(--red);
  font-family: "Inconsolata", monospace;
  display: block;
  padding: 15px 5px;
  font-size: 1.4rem;
  font-weight: bold;
}


#commentForm {
  display: none;
  max-width: 100%;
}

#resume {
  width: 90%;
  margin: 80px auto;
}

#resume video {
  width: 90%;
  margin: 40px auto;
  display: block;
  border-radius: 20px;
  box-shadow: 5px 5px 8px var(--lightBlue);
}

#resume article {
  padding: 20px;
  /* background-color: #ffffe6;
	box-shadow: 1px 2px 10px #f2cc59;
	border-radius: 20px; */
}

#resume h3 {
  text-align: center;
  color: var(--darkBlue);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

#resume p {
  line-height: 1.8;
  padding: 0 20px;
  font-size: 1.5rem;
  white-space: pre-wrap;
  font-family: "Pacifico", cursive;
}

#resume span {
  color: var(--red);
  font-weight: bolder;
}

.tools {
  margin-top: 100px;
}

.tools thead {
   display: none; 
}

.tools
td,

tr {
  border: 1px solid var(--darkBlue);
  border-collapse:separate;
  border-spacing: 10px;
  text-align: left;
  padding: 20px 15px;
  border-radius: 8px;
  width:100%;
  display: block;
  box-shadow: 1px 1px 5px var(--lightBlue)
}

.tools table {
  
  width:80%;
  margin: 20px auto;
  font-family: "Pacifico", cursive;
  font-size: 1.4rem;
  
}

.tools  table a{
  color: var(--darkGrey);
  font-size: 16px;
  font-weight: bolder;
  text-transform: capitalize;
  text-decoration: none;
}

.tools table  .fas{
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
  float: right;


}

.tools button {
  display: block;
  margin: 20px auto;
}
.tools p {
  text-align: center;
  color: var(--red);
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

#signUP {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  width: 80%;
  margin: 80px auto;
  padding: 20px;
  font-size: 1.5rem;
}

#signUP input, .editMessage input {
  border: 1px solid var(--darkBlue);
  display: block;
  text-align: left !important;
  margin: 10px auto !important;
  padding: 10px 15px;
}

#signUP input[type="submit"] {
	margin-top: 30px!important;
}

#signUP legend {
  margin: 30px auto;
}

#signUP label {
  color: var(--darkGrey);
  margin: 10px auto;
  width: 200px;
  font-weight: bold;
  
}

#formSignIn {
  display: block !important;
 
}

#signUP p {
	font-size: 18px;
	padding: 20px 50px;
}
#signUP a {
	text-decoration: underline;
	color: var(--darkBlue);
}

#formLogin input,
#formLogin p,
#formSignIn input,
#formSignIn p {
  max-width: 100%;
  margin: 20px auto !important;
  text-align: center;
}

#connected {
  margin: 20px auto;
  text-align: center;
  max-width: 100%;
  padding: 20px;
  font-size: 1.8rem;
  color: #6fb7d7;
  background-color: #f2cc59;
  border-radius: 50px 30px 50px 30px;
  box-shadow: 2px 2px 10px #9999;
}

#signUP button,
.write button,
#tools button {
  margin: 30px auto;
  display: block;
  padding: 10px 40px;
  font-size: 1.5rem;
}

.write {
  max-width: 70%;
  margin: 50px auto;
  text-align: center;
}

/* .write h3, .tools h3 {
  text-align: center;
  color:var(--darkBlue);
  font-size: 24px;
  margin-bottom: 50px;
} */

.link {
  font-size: 16px;
  text-decoration: none;
  color: var(--darkBlue);
  padding: 20px;
  text-align: center;
}
.fa-backward {
  padding-right: 10px;
}

.write form {
  margin-top: 30px;
}
.write input,
.write textarea {
  width: 90%;
  display: block;
  margin: 15px auto;
  background-color: #ebf5fa;
  border: 1px solid var(--darkBlue);
  border-radius: 8px;
  padding: 10px;
  font-size: 1.5rem;
}

.write textarea:focus {
  outline: none;
}


.write .fa-backward {
  font-size: 1.5rem;
  margin-right: 5px;
  color: var(--darkBlue);
  font-weight: bold;
}



/***********************************ElementsInBody*************************************/
#socialMedia,
#popup {
  position: fixed;
  /* background-color: rgb(62, 60, 60); */
  background-color: #3e627a;
  /* background-color: rgba(153,153,153,0.6); for IE */
  opacity: 0.95;
  width: 100%;
  height: 100%;
  z-index: 14;
  display: none;
  top: 0;
  left: 0;
  right: 0;
}

#socialMedia #socialList {
  list-style-position: inside !important;
  list-style-type: none;
  padding: 10px;
  width: 80%;
  /* height:350px; */
  display: none;
  position: absolute;
  top: 100px;
  right: 10%;
  z-index: 1;
  background-color: #f6de94;
  opacity: 1 !important;
  text-align: center;
  border-radius: 40px 20px 40px 20px;
}

#socialMedia #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5rem;
  margin-left: 50px;
  cursor: pointer;
  color: #f6de94;
}

#popup #closepopup {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5rem;
  margin-left: 50px;
  cursor: pointer;
  color: var(--yellow)
}

#socialMedia .fab,
#socialMedia .fas,
#socialMedia a {
  /* padding: 5px;
	color:#648194 ;
	font-size: 2rem;
	text-decoration: none;
	padding: 5px; */
}

#socialList .fab,
#socialMedia .fas {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #3e627a;
  box-shadow: 2px 2px 10px #9999;
  color: #f6de94;
}

#show {
  border-radius: 30% 10% 30% 10%;
  padding: 10px;
  background-color: #f2cc59;
  outline: none;
  border: 1px solid #3e627a;
  box-shadow: 1px 1px 15px #9999;
  color: #3e627a;
  font-family: "Knewave", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  right: -100%;
  bottom: 3%;
  transition: 2s ease-in-out;
}

#socialList li {
  padding: 5px;
}

#socialList button {
  background-color: #3e627a;

  color: #f6de94;
}

#socialList input {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #3e627a;
}

#socialList h3 {
  text-transform: capitalize;
  color: #3e627a;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}

#show:hover {
  transform: scale(1.2);
  transition: transform 2s ease;
}

#upDown {
  position: fixed;
  right: 5%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  z-index: 2;
}

#upDown .fas {
  background-color: #3e627a;
  border-radius: 20px 40px 20px 40px;
  padding: 5px;
  margin: 5px;
  color: #f2cc59;
  box-shadow: 1px 1px 10px #9999;
  font-size: 1.5rem;
}

#upDown .fas:hover {
  transform: scale(1.4);
  transition: transform 1s ease;
}

#top,
#down {
  display: none;
}

.overlay {
  position: fixed;
  background-color: #bfe9fb99;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: none;
  top: 0;
  left: 0;
  right: 0;
}

.error {
  margin-top: 100px;
}

.error img {
  width: 180px;
  margin: 0 auto;
  display: block;
  transform: rotate(-25deg);
}

.error::after {
  content: "";
  clear: both;
  display: block;
}

.error h3 {
  padding: 10px;
  margin-bottom: 35px;
  font-size: 24px;
  text-align: center;
  color: #3e627a;
}

.error button {
  margin: 10px  auto 20px;
  display: block;
}

.error a{
  text-decoration: none;
}

#popup p {
  position: absolute;
  font-size: 1.1rem;
  background-color: #f2cc59;
  top: 100px;
  left: 10%;
  right: 10%;
  width: 80%;
  text-align: center;
  color: #3e627a;
  padding: 50px 20px;
  border-radius: 40px 20px 40px 20px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 2;
}

#popup p a {
  display: block;
}

#actionComment {
  text-align: left;
  font-family: var(--fontText);
  text-transform: uppercase;
  /* font-weight: bolder; */
  font-size: 14px§important;
  color:var(--darkBlue);
  width: 100%;
  
  /* margin: 50px auto;
  box-shadow: 5px 5px 15px #f2cc59; */
}

#errorForm,
.errorRegister {
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: var(--red);
}

#share {
  display: block;
  margin: 25px 0;
}

.profile{
	margin: 150px auto 80px;
	width: 90%;
	text-align: center;
}
.profile i{
	margin-left: 20px ;
	color: var(--darkBlue);
}

.profile h3{
  font-size: 24px;
  color: var(--darkBlue);
}



/******************************************footer**********************************************/

footer {
  width: 100vw;
  margin: 50px auto 0;
  padding: 20px;
  text-align: center;
  background-color: #f5d67a;
  /* opacity: 0.8; */
  z-index: 9;
}

footer button {
  color: #f5d67a;
  background-color: #3e627a;
}

footer .logo {
  width: 90px;
  display: block;
  margin: 0 auto;
}

#newsletterFooter {
  font-family: "Pacifico", cursive;
  padding: 10px;
  font-size: 1.2rem;
}

#newsletterFooter p {
  color: #424242;
  padding: 5px;
}

#newsletterFooter input {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #3e627a;
}

small {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

small .fab {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #3e627a;
  margin: 10px;
  box-shadow: 2px 2px 10px #9999;
}

small a {
  color: #f2cc59;
}

.mention {
  color: var(--darkBlue);
}

small .fab:hover {
  transform: scale(1.4);
  transition: transform 2s ease;
}

/*************************************************media screen ************************************************************************/

@media screen and (min-width: 767px) {
  #presentation {
    padding: 100px 50px 10px;
    text-align: left;
  }

  #presentation h1 {
    width: 45%;
    font-size: 3rem;
    padding-left: 15px;
  }

  #presentation img {
    display: block;
    width: 42%;
    position: absolute;
    right: 50px;
    margin-top: -60px;
    box-shadow: 1px 2px 5px #0aaff5;
  }
  #presentation p {
    width: 45%;
    font-size: 1.5rem;
    margin-top: 40px;
    /* margin-left:-500px; */
    -webkit-margin-top: 50px;
  }

  #presentation a {
    display: inline-block;
  }

  nav #welcomeSession {
    font-size: 2rem;
  }

  #navbar {
  
    font-weight: normal;
  }

  nav a {
    font-weight: normal;
  }

  nav .logo {
    top: -190%;
    left: 42%;
    right: 42%;
    -webkit-left: 40%;
  }

  #sous-menu {
    width: 60%;
  }

  #sous-menu a {
    /* font-weight: bold;
    font-size: 1.8rem; */
  }

  #show {
    font-size: 1.75rem;
  }

  /* main {
  		max-width: 500px;
  	} */

  #homePage {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* -webkit-justify-content: space-between; */
    /* justify-content: space-between; */
    align-items: center;
    width: 80%;
  }
  #homePage h2 {
    flex-basis: 100%;
    padding-left: 15px;
  }
  #homePage article {
    flex-basis: 45%;
    margin: 50px 10px !important;
  }

  /* #post button {
    margin: 10px 45px;
  } */

 #post, #comments{
	width:70%;
  }

  #comments h2 {
    font-size: 2rem;
    text-indent: 20px;
  }

  #comments article .fas {
    right: 10px;
  } 

  #socialList input {
    width: 50%;
  }

  #socialList h3 {
    font-size: 1.5rem;
  }

  #socialMedia #socialList {
    width: 60%;
    right: 20%;
  }

  .editMessage{
	width:50%;
  }

  #popup p {
    font-size: 1.6rem;
    width: 50%;
    right: 25%;
    left: 25%;
  }

  .write{
    width:50%;
  }
  #panel{
    width: 50%;
  }

  .tools{
    margin-top: 150px;
  }

  .tools table {
    width: 70%;
  }

  /* .tools button {
    font-size: 1.6rem;
  } */

  footer .logo,
  nav .logo {
    width: 120px;
  }
  .error{
    margin: 150px auto 100px ;
    width:50%;
  }

  #newsletterFooter p {
    font-size: 1.5rem;
  }

  #newsletterFooter input {
    padding: 10px 80px;
  }

  small {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  #presentation h1 {
    font-size: 4.5rem;
    /* line-height: 6rem; */
  }

  #presentation p {
    /* margin-top: 200px; */
    width: 50%;
    font-size: 2.2rem;
    opacity: 1;
    padding: 0;
  }
  #presentation img {
    margin-top: -110px;
  }

  .overlay {
    position: relative;
    background-color: unset;
    display: none;
  }

  #appear {
    display: none;
  }

  nav #sous-menu {
    display: block;
    background-color: transparent;
    position: fixed;
    padding: 20px;
    line-height: 1;
    z-index: 1;
    height: 50px;
    width: 85vw;
    text-align: left;
  }

  #logo {
    width: 100px;
    opacity: 0.9;
    position: fixed;
    top: -10px;
    left: -10px;
    padding-right: 10px;
  }
/* 
  #sous-menu a:hover {
    font-size: 2rem;
    font-weight: normal;
  } */

  #sous-menu li {
    display: inline-block !important;
    padding: 0 20px;
  }

  #sous-menu .closebtn {
    display: none;
  }

  #socialMedia #socialList {
    max-width: 30%;
    right: 35%;
  }

  /* main {
		max-width: 900px;
	} */

  /* #homePage {
		display: -webkit-flex;
  		display: -webkit-box;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		align-items: center;
		width:70%;
	} */

  #homePage article {
    flex-basis: 30%;
    margin: 50px 20px !important;
  }

  .editMessage {
    max-width: 50%;
  }

  #comments {
    max-width: 50%;
  }
   
  #post {
	width: 50%;
  }
  /* #post button {
    margin: 20px 85px 0 120px;
  } */

  #post p {
    font-size: 1.6rem;
  }

  #post span {
    font-size: 1.6rem;
  }

  #popup p {
    font-size: 2rem;
  }

  .editMessage {
	width:25%;
  }

  .write{
    width:30%;
  }

  
  .error img {
    width: 300px;
  }

  /* .error button {
    font-size: 1.6rem;
  } */

  #actionComment {
    margin-left: 10px;
  }

  #resume {
    width: 60%;
  }

  #resume video {
    width: 95%;
  }
  .tools table {
    width: 40%;
  }
  #panel{
    width: 30%;
  }
}

@media screen and (min-width: 2000px) {
  #presentation img {
    height: 300px;
  }
}
