*{
	box-sizing: border-box;

}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

@font-face {
	src:url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Pacifico|Knewave');
	font-family: 'Knewave', cursive;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Inconsolata', monospace;
	font-family: 'Pacifico', cursive;
	font-weight: normal;
}

/*******************************************headerStyle*********************************/

header{
	width: 100%;
	margin-bottom: 50px;
}

#presentation {
	width: 100vw;
	height: 250px;
	/* background-color: #f2cc59; */
	background-image: url("../css/images/presentation.png");
	background-position: 30% 65%;
	background-size:cover;
	background-repeat: no-repeat;
	padding: 70px 10px 0;
	overflow: hidden;
	position: relative;
	z-index: 3;
	margin-top: -10px;
	margin-right: 0;
	
}

#presentation h1{
	font-family: 'Knewave', cursive;
 	text-transform: uppercase;
 	text-align: left;
 	word-spacing: 10000px;
 	font-size: 2rem;
 	line-height: 3rem;
  	color: #6fb7d7;
 	position: absolute;
	top: 10%;
	left: -200px;
	z-index: 1;
	transition: 1s ease-in-out;
}

#presentation p{
	text-align: left;
	width: 60%;
	font-size:1.5rem;
	font-family:  cursive;
	color: #3E627A;
	overflow: hidden;
	margin-top: 60px;
	margin-left: -2000px;
	transition: margin-left 2s ease;
	-webkit-margin-top:60px;
	-webkit-transition:  margin-left 2s ease;	
	padding:10px;
}
#presentation a{
	display: block;
}

nav {
	background-color:rgb(255,255,255);
	box-shadow: 1px 1px 10px #6fb7d7;
	max-width: 100%;
	padding: 1px 7px;
	z-index: 7;
	font-family: 'Inconsolata', monospace;
	position: fixed;
	top:0;
	right:0;
	left: 0;
}

nav a {
	text-decoration: none;
	color: #4ba5cd;
	font-weight: bold;
	cursor: pointer;
}

nav .far {
	padding-right: 5px;
	display: inline-block;
}

nav .logo {
	width: 80px;
	opacity: 0.9;
	position: absolute;
	top:-200%;
	left:33%;
	right: 33%;
	-webkit-left:33%;
}

#navbar {
	list-style-position: inside;
  	padding-left: 0;
  	display: -webkit-flex;
  	display: -webkit-box;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
	list-style: none;
	font-size: 1.24rem;
	font-weight: bold;
	color: #4ba5cd;	
}

#navbar a:hover, #appear:hover {
	color:#f2cc59;
	cursor: pointer;	
}

nav #welcomeSession{
	position: absolute;
	right:20px;
	font-weight: bold;
	font-family: 'Knewave', cursive;
  	color:#3e627a;
	font-size: 1,7rem;
	text-transform: capitalize;	
}

#sous-menu{
	position: fixed;
	right: 0;
	background-color:#f5d67a;
	opacity: 0.95;
	top:0;
	left: 0;
	display: none;
	list-style-position: inside;
	list-style-type: none;
  	padding:50px;
  	line-height:1.5;
  	z-index:9;
  	height:100%;
  	width: 100%;
  	text-align: center;
}

#sous-menu .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 2.5rem;
	margin-left: 50px;
}

#sous-menu li{
  	padding: 20px;
  	font-size: 1.6rem;
  	text-transform: capitalize;	
}

#sous-menu a:hover{
  	color:#3e627a;
  	font-size: 2.5rem;
  	transition: font-size 1s linear;
}

/*****************************************mainStyle***********************************/
main{
	width:100vw;
}

input{
	text-align: center!important;

}

 input {
	border-radius: 50px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	outline: none;
}

input:focus {
	border:1px solid #6fb7d7;
	outline: none;
}

button {
	border-radius: 30px 50px 30px 50px;
	background-color: #6fb7d7;
	color:#f5d67a;
	font-weight: bold;
	outline: none;
	border: none;
	box-shadow: 1px 1px 20px #9999;
	padding: 7px 10px;
	margin: 10px;
	cursor: pointer;
	text-transform: capitalize;
}

#homePage {
	width:95%;
	margin: 50px auto;
} 

#homePage article {
	border-radius: 50px 30px 50px 30px;
	background-color:#f5d67a;
	opacity: 0.95;
	padding: 20px;
	margin: 80px 50px;
	word-break: break-all;
	transition: 2s ease;
	box-shadow: 1px 2px 15px #9999;	
}

#homePage article:nth-child(even){
	margin:80px 35px 80px 80px;
}

#homePage article:hover{
	transform: scale(1.1);
	transition: transform 1s linear;
}

#homePage p {
	color: #3E627A;
	text-indent: 10px;
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6
}

#homePage span {
	display: block;
	color:#404040;
	text-indent: 20px;
	font-size: 1rem;
	padding-bottom: 5px;
}
 
#homePage button:hover, #post button:hover {
	transform: scale(1.2);
	transition: transform 0.6s linear;
}

#homePage h2, #post h2{
	text-align: center;
	text-transform: capitalize;
	font-family: 'Pacifico', cursive;
	color: #9C4032;
	font-size: 2rem;
	padding: 15px;
}

#post {
	max-width: 80%;
	margin: 50px auto;
	padding: 50px 10px;
	/* prevent select*/
	-webkit-user-select: none; /* Safari 3.1+ */
  	-moz-user-select: none; /* Firefox 2+ */
  	-ms-user-select: none; /* IE 10+ */
  	user-select: none;
}

#post img {
	width:100%;
	margin: 20px 0;
}

#post span {
	color: #6fb7d7;
	font-size: 1.1rem;
	font-weight: bold;
	font-family: 'Knewave', cursive;

}

#article p:first-child, #article p:last-child{
	font-weight: bold;
}

#article p, #article2 p {
	text-indent: 10px;
	line-height: 1.8;
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
}

#article h3 {
	font-family: 'Pacifico', cursive;
	font-weight: bold;
}

#comments p {
	line-height: 2.2;
	white-space: pre-wrap;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
}

#post button {
 	font-size: 1.8rem;
 	margin: 0 10px;
}

#comments {
	max-width: 80%;
	margin: 20px auto;	
}

#comments h2 {
 	color: #9999;
 	display: inline-block;
 	font-size: 1.4rem;
 	font-family: 'Pacifico', cursive;
}

#comments article {
	padding: 5px 5px 5px 35px ;
	position: relative;
	display: block;

}

#comments div {
	border-top: 2px solid #f2cc59;
	margin: 20px auto;
	max-width: 70%;
}

#comments h3 {
	color: #6fb7d7;
	font-size: 1.5rem;
	font-family: 'Inconsolata', monospace;
	text-transform: capitalize;
}

#comments span{
	color: #6fb7d7;
	font-size: 1.4rem;
	font-family: 'Inconsolata', monospace;
}

#comments h4 {
	text-indent: 5px;
	color:#f2cc59;
	font-size: 1.2rem; 
}

#comments article .fas{
 	position: absolute;
 	top: 20px;
 	right: 7%;
 	font-size: 1.5rem;
}

#comments p {
 	padding-left: 10px;
 	font-size: 1.6rem;
}

.editMessage  {
	max-width: 75%;
	margin: 20px auto;
	font-family: 'Pacifico', cursive;
	font-size: 1.5rem;
	text-align: center;
} 

.editMessage legend{
	margin: 0 auto;
	padding: 5px;
	font-size: 1.6rem;
}

.editMessage fieldset {
	background-color: #87c4de;
	border-radius: 50px 30px 50px 30px;
	border: none;
	margin-top: 20px;	
}

.editMessage input[type="text"], .editMessage input[type="email"]{
	width: 80%;
	padding: 7px;
}

.editMessage textarea{
 	width: 80%;
 	border-radius:20px;
 	height: 150px;
 	text-align: left;
 	font-size: 1.4rem;
 	outline: none;
 	padding: 10px;
}

.editMessage label, .editMessage legend {
 	display: block;
 	text-transform: capitalize;
 	color: #f2cc59;
 	font-weight: bold;
 	padding: 10px;
 	text-align: center;
}

.editMessage input[type="submit"], #signUP input[type="submit"]{
 	margin: 10px;
 	padding: 10px 20px;
 	cursor: pointer;
 	color: #6fb7d7;
 	background-color:#f2cc59; 
 	font-weight: bold;
 	box-shadow: 1px 5px 20px #9999;
 	font-family: 'Knewave', cursive; 
}

.editMessage span{
	color: #ff531a;
	font-family: 'Inconsolata', monospace;
	display: block;
	padding: 5px;
	font-size:1.4rem;
}

#commentForm {
	display: none;
	max-width: 100%;
}

#resume {
	max-width: 80%;
	margin: 50px auto;	
}

#resume  img {
	width: 30%;
	margin:0 auto;
	display: block;
	border-radius: 50%;
	box-shadow: 5px 5px 8px  #f2cc59;	
}

#resume article {
	padding: 20px;
	background-color: #ffffe6;
	box-shadow: 1px 2px 10px #f2cc59;
	border-radius: 20px;
}

#resume p {
	line-height: 1.8;
	padding: 0 20px;
	font-size: 1.5rem;
	white-space: pre-wrap;
	font-family: 'Pacifico', cursive;	
}

.tools table, td, th, tr {
	border: 1px solid #ffff;
	border-collapse:collapse;
	text-align: center;
	padding: 15px;
	background-color: #f2cc59;	
}

.tools table {
	box-shadow: 1px 1px 10px #6fb7d7;
	max-width: 70%;
	margin: 0 auto;
	font-family: 'Pacifico', cursive;
	font-size: 1.4rem;
}

.tools .far, .fas, a  {
	color:#379dc8;
	text-decoration: none;
}

.tools button {
	display: block;
	margin: 20px auto;
}

#signUP{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	font-size: 1.5rem;
}

#signUP input {
	border-bottom: 1px solid #f2cc59;
	display: block;
	text-align: left!important;
	margin: 10px auto!important;
	padding: 5px 15px;
}

#signUP legend{
	margin: 30px auto;
}

#formSignIn {
	display: block!important;
}

#formLogin input, #formLogin p, #formSignIn input, #formSignIn p {
	max-width: 100%;
	margin: 20px auto!important;
	text-align: center;
}

#connected {
	margin: 20px auto;
	text-align: center;
	max-width: 100%;
	padding: 20px;
	font-size: 1.8rem;
	color: #6fb7d7;
	background-color: #f2cc59;
	border-radius: 50px 30px 50px 30px;
	box-shadow: 2px 2px 10px #9999;
}

#signUP button, .write button, #tools button{
	margin: 30px auto;
	display: block;
	padding: 10px 40px;
	font-size: 1.5rem;
}

.write {
	max-width: 70%;
	margin: 40px auto;
}

.write  input, .write textarea {
	width:90%;
	display: block;
	margin: 10px auto;
	background-color: #ebf5fa;
	border: 2px solid #f2cc59;
	border-radius: 10px;
	padding: 10px;
	font-size: 1.5rem;
}

.write textarea:focus {
	outline: none;
}

.write legend{
	display: block;
	text-align: center;
	font-size: 2rem;
	color: #6fb7d7;
}

.write .fa-backward, .write a {
	font-size: 1.5rem;
	margin-right:5px;
	color: #f2cc59;
	font-weight: bold;
}

/***********************************ElementsInBody*************************************/
#socialMedia, #popup {
	position: fixed;
	background-color: rgb(62, 60, 60);
	/* background-color: rgba(153,153,153,0.6); for IE */
	opacity: 0.9;
	width: 100%;
	height: 100%;
	z-index:14;
	display: none;
	top:0;
	left: 0;
	right: 0;
}

#socialMedia #socialList {
	list-style-position: inside!important;
	list-style-type: none;
	padding: 10px;
	width: 70%;
	height:300px;
	display: none;
	position: absolute;
	top: 10%;
	right: 15%;
	z-index: 1;
	background-color: #0aaff5;
	opacity: 1!important;
	text-align: center;
	border-radius: 40px 20px 40px 20px;
}

#socialMedia #closebtn, #popup #closepopup {
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 5rem;
  	margin-left: 50px;
  	cursor: pointer; 
}

#socialMedia .fab, #socialMedia .fas, #socialMedia a{
	padding: 5px;
	color:#f4b909 ;
	font-size: 2rem;
	text-decoration: none;
	padding: 5px;
}

#show {
 	border-radius: 30% 10% 30% 10%;
 	padding:10px;
 	background-color: #f2cc59;
 	outline: none;
 	border: none;
 	box-shadow: 1px 1px 10px #9999;
 	color:#6fb7d7;
 	font-family: 'Knewave', cursive;
 	font-size:1.5rem;
 	font-weight: bold;
 	cursor: pointer;
 	position: fixed;
 	right:-100%;
 	bottom:3%;
 	z-index: 2;
 	transition: 2s ease-in-out;
}

#socialList  li {
	padding: 5px;
}

#socialList li form button {
	background-color:#f4b909;
	border-radius: 50%;
	padding: 5px;
	color: #6fb7d7;
	font-weight: bold;
}

#socialList input {
	margin-right: 2px;
	padding: 5px 0;
	font-size: 1.2rem;
	width:70%;
}

#socialList h3 {
	text-transform: capitalize;
	color:#f4b909 ;
	font-family: 'Pacifico', cursive;
}

#show:hover{
 	transform: scale(1.2);
 	transition: transform 2s ease;
}

#upDown{
	position: fixed;
	right: 5%;
	top:50%;
	display: flex;
	justify-content:space-between;
	flex-direction: column;
	padding: 10px;
	z-index: 2;
}

#upDown .fas {
	background-color: #6fb7d7;
	border-radius: 20px 40px 20px 40px;
	padding: 5px;
	margin: 5px;
	color: #f2cc59;
	box-shadow: 1px 1px 10px #9999;
	font-size: 1.5rem;
}

#upDown .fas:hover {
	transform: scale(1.4);
	transition: transform 1s ease;
}

#top, #down {
	display: none;
}

.overlay {
	position: fixed;
	background-color: #9999;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	z-index:4;
	display: none;
	top:0;
	left: 0;
	right: 0;
}

.error{
	margin-top: 50px ;
}
.error img{
	width: 60%;
	display: block;
	margin:50px auto;
	transform: rotate(-30deg);
}

.error::after{
	content: "";
	clear: both;
	display: block;
}

.error p {
	padding: 10px;
	margin-bottom: 20px;
	font-size: 1.4rem;
	text-align: center;
	color:#3e627a;
}

.error button {
	margin: 0 auto;
	display: block;
}

#popup p {
	position: absolute;
	font-size: 1.1rem;
	background-color: #f2cc59;
	top:25%;
	left:25%;
	right: 25%;
	width:50%;
	text-align: center;
	color: #17b2f5;
	padding: 50px 20px;
	border-radius: 40px 20px 40px 20px;
	text-transform: uppercase;
	font-family: 'Knewave', cursive;
	font-weight: bold;
}

#actionComment{
	text-align: center;
	font-family: 'Pacifico', cursive;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1.4rem;
	color:#6fb7d7;
	width: 80%;
	padding:20px;
	margin: 50px auto;
	box-shadow: 5px 5px 15px #f2cc59;
}

#errorForm, .errorRegister{
	text-align: center;
	display: block;
	text-transform: uppercase;
	color: #ff531a; 
}

#share {
	display: block;
	margin: 25px 0;
}

/******************************************footer**********************************************/

footer {
	width: 100vw;
	margin: 50px auto 0 ;
	padding: 20px;
	text-align: center;
	background-color:#f5d67a;
	opacity: 0.8;
}

footer .logo {
	width: 90px;
	display: block;
	margin: 0 auto;
}

#newsletterFooter {
	font-family: 'Pacifico', cursive;
	padding: 10px;
	font-size: 1.2rem;
}

#newsletterFooter p {
	color: #3E627A;
	padding: 5px;
}

#newsletterFooter input{
	padding: 10px 22px;
}

small {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
}

small .fab {
	padding: 10px;
	font-size: 1.5rem;
	border-radius: 50%;
	background-color:#6fb7d7;
	margin: 10px;
	box-shadow: 2px 2px 10px #9999;
}

small a {
	color: #f2cc59;
}

small .fab:hover {
	transform: scale(1.4);
	transition: transform 2s ease;
}


@media screen and (min-width: 767px){

	#presentation {
		height: 400px;
		background-position: 100% 100%;
		padding-top: 100px;
	}

	#presentation h1 {
	 	font-size: 3rem;
	 	line-height: 4rem;
	}

	#presentation p {
		width: 30%;
		font-size: 2rem;
		/* opacity: 0.7; */
		margin-top: 80px;
		margin-left:-500px;
		-webkit-margin-top:50px;
	}

	nav #welcomeSession{
		font-size: 2rem;
	}
	#navbar {
		font-size: 1.8rem;
		font-weight: normal;
	}

	nav a {
		font-weight: normal;
	}

	nav .logo {
		top:-190%;
		left:42%;
		right: 42%;
		-webkit-left:40%;
	}

	#sous-menu{
  		width: 60%;
  	}

  	#sous-menu a {
	  	font-weight: bold;
	  	font-size: 1.8rem;
	}

	#show {
		font-size: 1.75rem;
	}

  	/* main {
  		max-width: 500px;
  	} */

	#homePage {
		width:60%;
		margin: 50px auto;
	} 
	#homePage article:nth-child(even) {
		margin:80px 15px 80px 100px; 
	}

	#post button {
		margin: 10px 45px;
	}

	#comments h2 {
		font-size: 2rem;
		text-indent: 20px;
	}

	#comments article .fas{
 		right: 20%;
	}

	#socialList input {
		width:50%;
	}

	#socialList h3 {
		font-size:1.5rem;
	}

	#socialMedia #socialList {
		top:30%;
	}

	#popup p {
		font-size: 1.6rem;
	}

	.tools table {
		width: 100%;
	}

	.tools button {
		font-size: 1.6rem;
	}

	footer .logo, nav .logo {
		width:120px;
	}

	#newsletterFooter p {
		font-size: 1.5rem;
	}

	#newsletterFooter input {
		padding :10px 80px;
	}

	small {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 1024px){

	#presentation {
		background-size: 102% 100%;
		background-image: url('../css/images/BPD.png');
		height:450px;	
	} 

	#presentation h1 {
		top:-15px;
		font-size: 4.5rem;
		line-height: 6rem;
	}

	#presentation p {
		margin-top: 75px;
		width: 28%;
		font-size: 2.2rem;
		opacity: 1;
		padding:20px 0 20px 70px;
	}

	.overlay {
		position: relative;
		background-color:unset;
		display: none;	
	}

	nav #sous-menu {
		position: absolute;
		border-radius:0 10px 50px 0;
		box-shadow: 1px 2px 15px #9999;
		top:39px;
		left:-10px;
	  	padding:20px 10px;
	  	line-height:1;
	  	z-index:9;
	  	height:50px;
	  	width: 100vw;
	  	text-align: left;
  	}

  	#sous-menu a:hover {	
  		font-size: 2rem;
    }

    #sous-menu li {
    	display: inline-block!important;
    	padding: 0 20px;
    }

    #sous-menu .closebtn {
     	display: none;
    }

	#socialMedia #socialList {
		max-width:30%;
		right: 35%;
	}

	/* main {
		max-width: 900px;
	} */

	#homePage {
		display: -webkit-flex;
  		display: -webkit-box;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		align-items: center;
		width:70%;
	}

	#homePage article {
		flex-basis: 30%;
		margin: 50px 10px!important;
	}

	.editMessage{
		max-width: 50%;
	}

	#comments {
		max-width: 50%;
		margin: 50px auto;
	}

	#post button {
		margin: 20px 85px 0 120px;
	}

	#post p {
  		font-size: 1.6rem;
	}

	#post span{
		font-size: 1.6rem;
	}

	#popup p {
		font-size: 2rem;
	}

	.error p {
		font-size: 2rem;
	}
	.error img {
		width: 40%;
	}	

	.error button {
		font-size: 1.6rem;
	}

	#actionComment{
		width: 60%;
	}
}